
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-md-4 col-lg-6" style="margin: 5em; margin-top: 20em">
      <p class="h3" style= "color: rgb(68,105,176);">Acebook helps you connect and share your every intimate detail with people you dont want to!</p>
      <img src="/connected-world.png" class="img-fluid" >
    </div>
    <%= render "layouts/signup" %>

  </div>
