<div class="card mx-auto" style="width: 30rem; margin-top: 5rem">
  <!-- div below will host the picture -->
  <%= image_tag @user.avatar.url(:thumb), class: "card-img-top" %><br/>
  <div class="card-body">
    <h5 class="card-title">
      <%= "#{@user.first_name } #{@user.last_name}"%>
    </h5>
    <p class="card-text"><%= simple_format(@user.about_me) %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Email: </strong><%= @user.email %>
    </li>
  </ul>
</div>
