<footer class="footer bg-dark text-white mt-4">
  <div class="container text-muted">
    <div class="h5">
      A facebook clone at <a href="https://www.makersacademy.com/" class ="text-muted">Makers Academy</a>
    </div>
    <span class="">
      by <a href="https://github.com/durranee">Irfan Durrani</a> |
      <a href="https://github.com/antcin">Agnes Donut</a> |
      <a href="https://github.com/agnesdonat">Antonio Ciniglio</a> |
      <a href="https://github.com/Ajibaji">Ammar Arjomand</a>
    </span>
  </div>
</footer>
